@charset "ISO-8859-1";
table{
    margin-left: 170px;
    margin-right: 130px;
}
img{
	margin-left:650px;
	margin-right:650px;
}
button{
	    background-color: #dae0e5!important;
	    padding: 5px 5px!important;
}
